img{
    width: 300px;
    height: 300px;
    float: left;
    padding-right: 25px;
    margin-top: 20px;
    border-radius: 50px;
}

h1{
    border-bottom-style: inset;
    margin: 25px 30px 15px 325px;
}

div{
    line-height: 2em;
    width: 800px;
    height: 500px;
    margin: 25px auto 25px auto;
    padding: 15px 20px 15px 25px;
    box-sizing: border-box;
    background-color: rgb(223, 223, 223);
    border-radius: 50px;
}

body{
    background-color: rgb(214, 214, 214);
}