img{
    float:left;
    width: 300px;
    height: 395px;
    padding-right: 25px;
}

body{
    background-color: rgb(146, 148, 150);
}

h1{
    border-bottom-style: inset;
    margin: 25px 25px 25px 325px;
}

div{
    width: 900px;
    height: 500px;
    margin: 25px auto;
    background-color: rgb(185, 185, 185);
    border-radius: 25px;
    padding: 25px;

}