img{
    float: left;
    border-radius: 25px;
    padding-right: 10px;
}

body{
    background-color: rgb(128, 141, 153);
}

h1{
    border-bottom-style: inset;
}

div{
    width: 900px;
    height: 595px;
    margin: 25px auto;
    background-color: rgb(151, 198, 238);
    border-radius: 20px;
}

#btVerifica{
    height: 20px;
    border-radius: 10px;
    background-color: rgb(92, 100, 100);
    height: 30px;
    color: white;
}

#btVerifica:hover{
    transition: 1s;
    background-color: rgb(211, 216, 219);
    color: rgb(82, 79, 79);
    cursor: pointer;
}